{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="dp-section bg-body-tertiary p-3 my-5 col-12 col-sm-7">
        <div class="row">
            <div class="mb-3 col-12 col-sm-4 d-flex justify-content-center">
                <div class="dp" style="height:150px; width:150px; border-radius:50%; background-color: white; background-image: url('{{user_profile.dp.url}}'); 
            background-size:cover;">
                </div>
            </div>
            <div class="mb-3 col-12 col-sm-8">

                <div class="row my-2 d-flex justify-content-center">
                    {% if owner == 1 %}
                    <div class="col-12">
                        <p class="d-inline lead">{{user_model.username}}</p>
                        <a href="/account/edit" class="btn btn-sm btn-primary col-4 col-sm-3">Edit profile</a>
                    </div>
                    {% endif %}
                    {% if owner == 0 %}
                    <div class="col-12">
                        <p class="d-inline lead">{{user_model.username}}</p>
                        <a href="/follow?user={{user_model.username}}" class="btn btn-sm btn-primary col-4 col-sm-3">
                            {% if is_follow == 0 %}
                            Follow
                            {% elif is_follow == 1 %}
                            Unfollow
                            {% endif %}
                        </a>

                    </div>
                    {% endif %}

                </div>
                <div class="row my-2">
                    <div class="col-12">
                        {{user_profile.bio}}
                    </div>

                </div>
                <div class="row my-2">
                    <div class="col-3">
                        <p><b>{{posts_count}}</b> Post</p>
                    </div>
                    <div class="col-3">
                        <p><b>{{follower_count}}</b> Followers</p>
                    </div>
                    <div class="col-3">
                        <p><b>{{following_count}}</b> Following</p>
                    </div>

                </div>
                <div class="row my-2">
                    <div class="col-12">
                        <b>{{user_model.first_name}} {{user_model.last_name}}</b>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="post_images d-sm-grid col-sm-8 justify-content-center">
        <hr class="my-3">

        <style>
            .gallery {
                --s: 200px;
                /* controls the size */
                --g: 5px;
                /* controls the gap */

                display: grid;
                gap: var(--g);
                width: calc(4*var(--s) + 3*var(--g));
                /* 3 times the size plus 2 times the gap */
                aspect-ratio: 2;
                grid-template-columns: repeat(4, auto);
            }

            @media only screen and (max-width: 600px) {
                .gallery {
                    --s: 150px;
                    /* controls the size */
                    --g: 5px;
                    /* controls the gap */

                    display: grid;
                    gap: var(--g);
                    width: calc(2*var(--s) + 2*var(--g));
                    /* 3 times the size plus 2 times the gap */
                    aspect-ratio: 1;
                    grid-template-columns: repeat(2, auto);
                }
            }

            .img-grid {
                width: 0;
                height: 0;
                min-height: 100%;
                min-width: 100%;
                object-fit: cover;
            }

            .blur.active {
                filter: blur(2px);
                pointer-events: none;
                user-select: none;
            }

            #popup {
                /*NEW*/
                position: fixed;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 600px;
                /* max-height: 500px; */
                padding: 50px;
                visibility: hidden;
                opacity: 0;
                transition: 0.5s;
            }

            #popup.active {
                width: 650px;
                top: 53%;
                visibility: visible;
                opacity: 1;
                transition: 0.5s;
            }
        </style>

        {{user_post_image.}}

        {% if user_post_image %}
        <div id="popup" class="active">
            <div class="card model col-sm-12 mb-3 p-2" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-sm-8">
                        <img src="{{user_post_image.image.url}}" class="img-fluid rounded-start" alt="...">
                    </div>

                    <div class="col-sm-4 d-flex align-items-center justify-content-center">
                        <div class="card-body ">
                            <div>
                                <p class="card-text"><small class="text-muted">{{user_post_image.created_at}}</small>
                                </p>
                                <p class="card-text">{{user_post_images.caption}}</p>
                            </div>
                            <div>
                                <ul class="list-group list-group-flush ">
                                    {% if owner == 1 %}
                                    <li class="list-group-item" style="text-align: center;">
                                        <a href="/account?image={{user_post_image.id}}&delete=true"
                                            style="text-decoration: none; color:red; font-weight: bold;">Delete</a>
                                    </li>
                                    {% endif %}
                                    <li class="list-group-item" style="text-align: center;"><a href=""
                                            style="text-decoration: none; color:black;" onclick="share()">Share</a></li>


                                    <li class="list-group-item" style="text-align: center;">
                                        <!-- <a  href="/account"  href="profile?user={{user_model.username}}"                              
                                        
                                            style="text-decoration: none; color:black">Cancel
                                        
                                        </a> -->
                                        {% if owner == 1 %}
                                        <a href="/account" style="text-decoration: none; color:black">Cancel</a>
                                        {% endif %}
                                        {% if owner != 1 %}
                                        <a href="/profile?user={{user_model.username}}"
                                            style="text-decoration: none; color:black">Cancel</a>
                                        {% endif %}
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}


        <div class="gallery">
            {% for post in user_posts %}
            <div>
                {% if owner == 1 %}
                    <a href="/account?image={{post.id}}">
                {% elif owner == 0 %}
                    <a href="/profile?user={{user_model.username}}&image={{post.id}}">
                {% endif %}
                    <img src="{{post.image.url}}" class="img-grid">
                    </a>

            </div>

            {% endfor %}
        </div>
    </div>
</div>
<script>
    function share() {
        var link = window.location.href;
        alert("Copy this url to share: " + link);
        
    }
</script>

{% endblock %}